.span{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 100vh;
    width: 100vh;
    transform: rotate(45deg);
    row-gap: 3px;
    column-gap: 2px;
}
.item{
    background-color: #FFF700;
    color: #fff;
    padding: 6%;
}
.title{
    transform: rotate(-45deg);
    overflow-x: visible;
    white-space: nowrap;
    color: #705749 !important;
}