.search{
    background-color: #f9d976ae  !important;
    padding: 2%;
    height: 70vh;
    width: 50%;
    position: absolute;
    left: 10%;
    top: 10%;
    border-radius: 10px;


}


.title{
    transform: rotate(-45deg);
    overflow-x: visible;
    white-space: nowrap;
    color: #705749 !important;
}


